.header {
  height: rem(56px);
  background-color: var(--mantine-color-body);
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.inner {
  display: flex;
  justify-content: center;
  height: rem(56px);
}

.link {
  display: inline-block;
  display: flex;
  align-items: center;

  height: rem(56px);

  text-decoration: none;
}

.text {
  --text-fz: var(--mantine-font-size-xl);
  --text-lh: var(--mantine-line-height-xl);
  --text-gradient: linear-gradient(90deg, var(--mantine-color-violet-7) 0%, var(--mantine-color-pink-6) 100%);

  font-weight: 900;

  background-image: var(--text-gradient);
  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
}