.box {
  @mixin hover {
    color: white;
    background-color: var(--mantine-color-violet-3);
  }

  cursor: pointer;

  display: flex;
  align-items: center;

  padding: var(--mantine-spacing-xs);

  background-color: var(--mantine-color-gray-0);
  border-radius: var(--mantine-radius-lg);

  transition: all 150ms ease;
}

.card {
  position: relative;
  overflow: hidden;
  padding: var(--mantine-spacing-xl);
  background-color: var(--mantine-color-violet-0);

  &::before {
    content: '';

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    width: rem(6px);

    background-color: var(--mantine-color-violet-9);
  }
}

.code {
  padding: var(--mantine-spacing-md);
  background-color: var(--mantine-color-gray-1);
  border-radius: var(--mantine-radius-lg);
}